.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.none {
    display: none;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}
.mrt {
    margin-top: 1rem;
}
.mrb {
    margin-bottom: 1rem;
}
.mrl {
    margin-left: 1rem;
}
.mrr {
    margin-right: 1rem;
}
.mar {
    margin: 1rem;
}
.pdt {
    padding-top: 1rem;
}
.pdb{
    padding-bottom: 1rem;
}
.pdl {
    padding-left: 1rem;
}
.pdr {
    padding-right: 1rem;
}
.pad {
    padding: 1rem;
}
.border {
    border: 1px solid grey;
}
.br {
    border-radius: 5px;
}

// text
.pc {
    color: rgb(71, 69, 69);
}
.sc {
    color: honeydew;
}
.tc {
    text-align: center;
}


// background
.bclr {
    background-color: rgb(71, 69, 69);
}
.bgnd {
    background-color: rgb(71, 69, 69);
}